@page "/"

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <h4>Welcome @context?.User?.Identity?.Name</h4>
        <p>Go to the "My Team" menu item to start snooping on the team!</p>
    </Authorized>
    <NotAuthorized>
        <div class="text-center" style="padding-top: 50px">
            <div class="col-sm-12" style="padding-bottom: 20px;">
                <img src="/images/whisper.png" style="height: 300px;" />
            </div>
            <div class="col-sm-12">
                <p>Welcome to Snitch, the app that keeps an eye on your team so you don't have to.</p> 
                <p>Sign in to your organization below to start seeing who's slacking!</p>
            </div>
            <div class="col-sm-12">
            <a class="btn btn-outline-primary btn-large" href="authentication/login">Click here to sign in</a>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
