@page "/"

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <h4>Welcome @context?.User?.Identity?.Name</h4>
        <p>Use the navigation bar on the left to get started.</p>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-primary btn-large" href="authentication/login">Click here to sign in</a>
    </NotAuthorized>
</AuthorizeView>
